@import url(html4css1.css);


body {
    background-color: #333;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: #ffffff;
    background-color: #1793d1;
    font-family:  Arial, Helvetica;
    margin-bottom: 0px;
    padding-left: 16px;
}

h2 {
    color: #ffffff;
    background-color: #1793d1;
    font-family:  Arial, Helvetica;
    margin-bottom: 0px;
    padding-left: 32px;
}

p, li, table {
    padding-left: 16px
}

.docinfo, .section, .footer {
    color: #000000;
    background-color: #ffffff;
    padding-bottom: 5px;
}
