! ~/.Xresource - X resource settings
! This is an amalgam of settings from
! http://forums.gentoo.org/viewtopic-t-289943.html

! xterm
! XTerm section starts...

! Requires the Terminus font from
! http://www.is-vn.bg/hamster/terminus-font-4.20.tar.gz

!XTerm*faceName:    Terminus
XTerm*facefont:		DejaVu Sans Mono
!XTerm*font: -*-courier-medium-r-*-*-14-140-*-75-*-*-*-*
!XTerm*boldFont: -*-courier-bold-r-*-*-14-140-*-75-*-*-*-*

! Xterm settings (aterm/rxvt inherits, urxvt does not)

! Choose ONE. If "locale" doesn't give you utf8 support then use
! "utf8" instead.
! XTerm*locale: true
XTerm*utf8: 2

XTerm*loginshell:       true
XTerm*faceSize:      10
XTerm*scrollBar:   false
! Don't scroll output when the paged up
XTerm*scrollTtyOutput:   false
XTerm*background:   grey10
XTerm*foreground:   WhiteSmoke
XTerm*cursorColor:   red
! Don't remember...
XTerm*charClass:   33:48,37:48,45-47:48,64:48
! No bold chars
XTerm*boldMode:         false
! Makes scrolling faster allowing it to jump whole screens at a time
XTerm*jumpScroll:   true
! Makes scrolling faster allowing it to skip over content when scrolling fast
XTerm*multiScroll:   true
XTerm*autoWrap:      true
XTerm*cursorBlink:   true
! Fixes delete problems in emacs and creates problems in vim
!XTerm*deleteIsDEL:   true
! How much scrollback to save
XTerm*saveLines:  32768 
! This fixes odd behavior with alt
XTerm*eightBitInput:   false
! Not sure what this does
XTerm*metaSendsEscape:   true

XTerm*color0:           #000000
XTerm*color1:           #CD0000
XTerm*color2:           #00CD00
XTerm*color3:           #CDCD00
XTerm*color4:           #4B4BED
XTerm*color5:           #CD00CD
XTerm*color6:           #00CDCD
XTerm*color7:           #b3b3b3
XTerm*color8:           #404040
XTerm*color9:           #FF0000
XTerm*color10:          #49DC49
XTerm*color11:          #FFFF00
XTerm*color12:          #5858E5
XTerm*color13:          #FF00FF
XTerm*color14:          #00FFFF
XTerm*color15:          #FFFFFF

! URvt section starts
Urxvt*borderLess: 	true
Urxvt*loginShell: 	true
URxvt*geometry: 	100x30
URxvt*saveLines: 	10000
!URxvt.cursorBlink: 	true
URxvt*externalBorder: 	2
URxvt*internalBorder: 	0
!URxvt*scrollBar_right: True
! Turn on/off scroll-to-bottom on TTY output inhibit:
!URxvt*scrollTtyOutputInhibit:	True
URxvt*fading:   	15
URxvt*tintColor: 	#ffffff
URxvt*shading:		40
Urxvt*transparent: 	true
URxvt*scrollBar:	false
URxvt*scrollTtyKeypress:    true
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     false
!URxvt*scrollWithBuffer:	True
URxvt*scrollstyle:      plain
URxvt*secondaryScroll:  false
!URxvt*multichar_encoding: en_US.UTF-8
URxvt*imlocale:		zh.CN.utf8
URxvt*inputMethod:	ibus

URxvt*urlLauncher:      opera
*perl-ext-common:	matcher
*matcher.button: 	M

! font settings
!Urxvt*font: xft:Terminus:pixelsize=16
!URxvt*font:		xft:DejaVu Sans Mono
URxvt*font:		xft:DejaVu Sans Mono:pixelsize=14,\
			xft:WenQuanYi Bitmap Song:pixelsize=14,\
			[codeset=GB2312]xft:WenQuanYi Bitmap Song:antialias=false,\
			[codeset=GBK]xft:WenQuanYi Bitmap Song:antialias=false,\
			[codeset=GB18030]xft:WenQuanYi Bitmap Song:antialias=false,\
			[codeset=JISX0208]xft:Kochi Gothic:antialias=false
!URxvt*italicFont:        xft:Bitstream Vera Sans Mono:italic:autohint=true

! VIM-like colors
urxvt*tintColor: 	#373C57
URxvt*background: 	gray16
URxvt*foreground:	#ffffbf
URxvt*colorBD:		white
URxvt*colorIT:		green
URxvt*color0:      	#000000
URxvt*color1:      	#ee1828
URxvt*color2:      	#aece92
URxvt*color3:      	#eeaa88
URxvt*color4:      	#1181ff
URxvt*color5:      	#963c59
URxvt*color6:      	#41f4ff
URxvt*color7:      	#C0C0C0
URxvt*color8:      	#808080
URxvt*color9:      	#cf6171
URxvt*color10:	  	#00A800
URxvt*color11:     	#fff796
URxvt*color12:     	#2186fe
URxvt*color13:	  	#A800A8
URxvt*color14:     	#f1be2e
URxvt*color15:     	#ffffff

URxvt*title:		Terminal
URxvt*termName:         rxvt-unicode
! This is here for compatibity with w3m.
!URxvt*termName:         xterm
