body	{
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	}

	/*  Set up general page elements 	*/ 

p {
	margin:0 0 1em 0;
	padding:0;
	text-indent: 2em;
	}
#content>p {text-indent:2em; margin:0;}
#content>p+p {text-indent:2em; margin-top: 1ex;}

img {
	display: block;
	border: 0;
	}

a:link, a:visited {
	font-weight : bold; 
	text-decoration : none;
	color: #c30;
	background: transparent; 
	}

a:hover {
	font-weight : bold; 
	text-decoration : underline;
	color: #e0861e;
	background: transparent; 
	}

a:active {
	font-weight : bold; 
	text-decoration : none;
	color: #95a580;
	background: transparent;  
	}

	/*   Gather ye headlines.  */

/*
h1, h2, h3, h4, h5, h6	{
	font-weight: normal;
	font-family: Verdana, Lucida, Helvetica, sans-serif;
	}
*/
h1	{
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: lowercase;
	}

h2	{
	font-size: 24px;
	margin-top: 25px;
	margin-bottom: 0;
	letter-spacing: 1px;
	}

h3	{
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 0; 
    }

h4	{
	font-size: 13px;
	margin: 5px 0;
	padding: 0;
	letter-spacing: 1px;
	}

	/*  Establish general layout parameters */

#header	{
	background: #e0861e;
	color: #000;
	font-size: x-large;	/* should be same as an h1 header */
	border: 0; 
	border-bottom: 1px solid #5c380f;
	margin: 0;
	padding: 0;
	text-align: left;
	height:31px;
}

#logo {	
	font-size: x-large;
	font-weight: bold;
	}

#mtime {
	font-size: medium;
	text-align: right;
	}
	
#sidebar {
	/* float: left;  */
	position: absolute;
	left: 0;
	margin: 0;
	padding: 0 25px 25px 25px;
	background: #bdcdbd url(/assets/img/sbbot4.gif) repeat-x bottom left;
	border: 0;
	border-top: 10px solid #95a580;
	border-right: 1px dotted #000;
	border-bottom: 1px dotted #000;
	width: 151px;	/* False value for IE/WIN */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 100px;	/* Actual value for conformant browsers */
	}

body>#sidebar {
	width: 100px;	/* Be nice to Opera */
	}
	
	/*  Create buttons 	*/ 

#sidebartop	{
	border-top: 1px solid #033;
	}

#sidebar hr {
	display: none;
	}

#sidebar ul  {
	list-style: none;
	padding: 0;
	margin: 15px 0;
	border: 0;
	
	}

#menu li, #contrast li	{
	text-align: center;
	border-bottom: 1px solid #000;
	width: 100px;
	margin: 0;
	padding: 0;
	font: 12px/15px Verdana, Lucida, Arial, sans-serif;
	color: #000;
	background: #e0861e;
	}

#menu li a {
	display: block;
	font-weight: normal;
	padding: 0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background: #e0861e;
	color: #000;
	text-decoration: none;
	width: 100px; 	/* False value for IE4-5.x/Win. */
 	voice-family: "\"}\""; 
  	voice-family:inherit;
	width: 98px;	/* You get it. Good value for compliant browers. */	
	}
	
html>#menu li a {
	width: 98px;	 /* Be nice to Opera */
	}
	
#menu li a:hover {
	font-weight: normal;
	background: #c90;
	color: #fff;
	text-decoration: none;
	}

	
	/*  Text treatments for primary content zone 	*/ 

#content {
	border: 0;
	border-top: 10px solid #bdcdbd;
	padding: 0;
	margin: 0;
	margin-left: 150px;
	width: auto;
	}

#content li {
	text-align: left;     
	margin-bottom: 0.5em;        
    }

#content dd	{
	margin-bottom: 0.5em;
	}

#content dd, dt {
	text-align: left;          
    }

p+h3	{
	margin-top: 20px;
	}
	
#content code	{
	font: 12px "Andale Mono", monaco, courier, "Courier New", monospace;
	border-bottom: 1px dotted #999;
	}

#content pre	{
	border: #777777 1px solid;
	padding: 0.5em;
    margin: 0 1em 0 2em;
    white-space: pre;
    background-color: #fffafa;
    color: black;
    font: 12px/16px "Andale Mono", monaco, courier, "Courier New", monospace;
	}

#brave400 {
	margin: 0;
	border: 0;
	padding: 15px 25px;	
	width: 650px; /* False value for IE4-5.x/Win */
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 600px; /* Actual value for conformant browsers */	
	}
body#brave400 {
	width: 600px; /* Be nice to Opera */
	}
	
#bravefourhundred dt {
	font-size: 12px;
	font-weight: normal;
	}

#bravefourhundred dd {
	margin-bottom: 0.5em;
	}

/* Column */

#column {
  margin: 1em 0 1em 0;
}

#column h3 {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;    
  display: inline;
}

#column p {
  margin: 1em 0 1em 0;
  clear: both;
}

#fortune
{
  background-color:#eee;
  border:1px dashed #999;
  margin: 15px;
/*  font-size:small;
*/  text-indent: 0;
}

#sign
{
  float: right;
}

	/*  Lay out footer 	*/ 

#footer	{
	margin: 25px 0 50px 0;
	text-align: center;
	}
#footer img {
	display: inline;
	}
	
	/*  Odd bits and miscellanies 	*/ 

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.right {
	text-align: right;
	}
	
.notebox {
	background-color:#eee;
	border:1px dashed #999;
	margin: 15px;
	font-size:small;
	text-indent: 0;
}
