/* Alistapart.com - for print. Revised Apr 16, 2004, copyright 2004 Happy Cog Studios */

html {width: 100%;}

body {
background: white;
text-align: left;
color: black;
font-size: 11pt !important;
line-height: 125%;
border: 0;
border-top: 0;
margin: 0;
padding: 0; 
font-family: Georgia, Palatino, serif;
}

hr, #footer img {
display: none;
}

#main {
width: auto;
border: 0;
margin: 0 10%;
padding: 0;
float: none !important;
color: black;
background: transparent;
}


#footer {
border: 0;
border-top: 1pt solid #ccc;
padding: 5pt 7pt 7pt 10pt;
text-align: left;
clear: both;
font-size: 10pt;
}


#footer p{
margin: 10pt 0;
padding: 0;
}

#bread a:link, #bread a:visited, #main a:link, #main a:visited {
   color: #520;
   background: transparent;
   font-weight: bold;
   text-decoration: underline;
   }
#bread a:link:after, #bread a:visited:after, #main a:link, #main a:visited {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }

#bread a[href^="/"]:after, #main a[href^="/"]:after {
   content: " (http://www.freelamp.net" attr(href) ") ";
   }
 
 

code, pre{
font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
background: inherit;
color: #333;
}

.right {
text-align: right;
}