/* Originally cribbed from http://bluerobot.com/web/layouts/layout1.html
 * However, people who merge the hotlink colors are evil and should be killed, 
 * so I removed that.  Fixing font sizes in pixels is evil, too; is much as 
 * possible I has move all dimensions to be relative to the associated font 
 * size. Finally, light grey is a great background color, but lousy for
 * foreground text on white.
 */

body {
	margin:0;
	padding:0;
	font-family: helvetica, sans-serif;
	color:#333;
	background-color:white;
	}
p {
	font-family: helvetica, sans-serif;
	margin:0 0 1em 0;
	padding:0;
	text-indent: 2em;
	}
#Content>p {text-indent:2em; margin:0;}
#Content>p+p {text-indent:2em; margin-top: 1ex;}

ul {
	list-style: disc;
	margin: 12px 0 12px 3em;
	}
li {
	text-align: left;
	margin: 0 0 0.5em 0;
	}

img {
	border:0;
}

h1 {
	font-size: x-large;
	margin-bottom: 0.25ex;
	}

h2 {
	font-size: large;
	margin-bottom: 0.25ex;
	}

a {
	text-decoration:none;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:hover {
	background-color:#ccc;
	}

#header	{
	margin: 20px 0 10px 0;
	padding: 0.3ex 0 1.3ex 20px;
	vertical-align: middle;
	border-style: solid;
	border-color: black;
	border-width: 1px 0; 
	background-color: #eee;
	height: 32px;	/* False value for IE4-5.x/Win */
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 30px;	/* UNTESTED!  Was 14px */
	}
body>#header {
	height: 30px;	/* Be nice to Opera */
	}

#logo {
	float: left;	
	text-align: left;
	vertical-align: middle;
	font-size: x-large;
	font-weight: bold;
	}

#mtime {
	float: right;
	text-align: right;
	vertical-align: middle;
	font-size: medium;
	font-weight: bold;
	}
	
#content {
	/* Left margin is menu width + 3em
	 */
	margin:0 50px 50px 11em;
	padding:10px;
	}

#sidebar {
	position:absolute;
	top:80px;
	left:20px;
	width:160px;
	padding: 10px;
	background-color:#eee;
	border:1px dashed #999;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:140px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:140px;}

#sidebar ul  {
	list-style: none;
	padding: 0;
	margin: 15px 0;
	border: 0;
	}
	
/* Menu lists */
#menu ul {
	list-style: none;
	padding: 0;
	margin: 15px 0;
	border: 0;
	}
#menu li {
	text-align: left;
	width: 8em;
	margin: 0;
	padding: 0;
	color: #000;
	}

	
	/* Contrast */
#contrast ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	font-size: small;
	}
	
#contrast ul li {
	margin-left: 0;
	padding: 3px 3px;
	border-left: 1px solid #000;
	list-style: none;
	display: inline;
	}
	
#contrast ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
	}
#content li {
	text-align: left;     
	margin-bottom: 0.5em;        
    }

#content dd	{
	margin-bottom: 0.5em;
	}

#content dd, dt {
	text-align: left;          
    }

p+h3	{
	margin-top: 20px;
	}
	
#content code	{
	font: 12px "Andale Mono", monaco, courier, "Courier New", monospace;
	border-bottom: 1px dotted #999;
	}

#content pre	{
	border: #777777 1px solid;
	padding: 0.5em;
    margin: 0 1em 0 2em;
    white-space: pre;
    background-color: #fffafa;
    color: black;
    font: 12px/16px "Andale Mono", monaco, courier, "Courier New", monospace;
	}

/* fortune */

#fortune
{
  background-color:#eee;
  border:1px dashed #999;
  margin: 15px;
  padding: 15px;
  text-indent: 0;
}

#sign
{
  float: right;
}

	/*  Lay out footer 	*/ 

#footer	{
	margin: 25px 0 50px 0;
	text-align: center;
	}
#footer img {
	display: inline;
	}
	
	/*  Odd bits and miscellanies 	*/ 

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.right {
	text-align: right;
	}

.hide {
	display: none;
	}

.inline {
	display: inline;
	}
		
.small {
	font-size: small;
	}
	
.notebox {
	background-color:#eee;
	border:1px dashed #999;
	margin: 15px;
	font-size:small;
	text-indent: 0;
}
