/* Originally cribbed from http://bluerobot.com/web/layouts/layout1.html
 * However, people who merge the hotlink colors are evil and should be killed, 
 * so I removed that.  Fixing font sizes in pixels is evil, too; is much as 
 * possible I has move all dimensions to be relative to the associated font 
 * size. Finally, light grey is a great background color, but lousy for
 * foreground text on white.
 */

body {
	margin:0;
	padding:0;
	font-family: helvetica, sans-serif;
	color:#333;
	background-color:white;
	}
p {
	font-family: helvetica, sans-serif;
	margin:0 0 1em 0;
	padding:0;
	text-indent: 2em;
	}
#Content>p {text-indent:2em; margin:0;}
#Content>p+p {text-indent:2em; margin-top: 1ex;}

ul {
	list-style: disc;
	margin: 12px 0 12px 3em;
	}
li {
	text-align: left;
	margin: 0 0 0.5em 0;
	}

img {
	border:0;
}

h1 {
	font-size: x-large;
	margin-bottom: 0.25ex;
	}

h2 {
	font-size: large;
	margin-bottom: 0.25ex;
	}

a {
	text-decoration:none;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:hover {
	background-color:#ccc;
	}
pre {
      border: #777777 1px solid;
      padding: 0.5em;
      margin-left: 1em;
      margin-right: 2em;
      white-space: pre;
      background-color: snow;
      color: black;
      font-family : Luxi Mono, Luxi Sans, Monospace, sans-serif, ו;    
      font-size : 11pt;
      }


pre.syntax {
             background: lightblue;
             }

pre.error {
            background-color: pink;
            }

pre.url {
          background: bisque;
          }

pre.verse { 
            background: pink;}
            
#Header {
	font-weight:600;
	font-size: x-large;	/* should be same as an h1 header */
	margin:20px 0 10px 0;
	padding:0.3ex 0 1.3ex 20px;
	border-style:solid;
	border-color:black;
	border-width:1px 0;
	background-color:#eee;

/* Here is the ugly brilliant hack that protects IE5/Win from its own
stupidity.  Thanks to Tantek Celik for the hack and to Eric Costello
for publicizing it.  IE5/Win incorrectly parses the "\"}"" value,
prematurely closing the style declaration. The incorrect IE5/Win value
is above, while the correct value is below. See
http://glish.com/css/hacks.asp for details. */

	voice-family: "\"}\"";
	voice-family:inherit;
	height:1ex+3px;	/* UNTESTED!  Was 14px */
	}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it
feeds correct length values to user agents that exhibit the parsing
error exploited above yet get the CSS box model right and understand
the CSS2 parent-child selector. ALWAYS include a "be nice to Opera 5"
rule every time you use the Tantek Celik hack (above). */
body>#Header {height:14px;}

#Content {
	/* Left margin is menu width + 3em
	 */
	margin:0 50px 50px 11em;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:80px;
	left:20px;
	width:8em;
	padding:0.5em;
	background-color:#eee;
	border:1px dashed #999;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:8em;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:8em;}

/* Menu lists */
#Menu ul {
	list-style: none;
	padding: 0;
	margin: 15px 0;
	border: 0;
	}
#Menu li {
	text-align: left;
	width: 8em;
	margin: 0;
	padding: 0;
	color: #000;
	}

/* For convenience */
.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}

.notebox {
	background-color:#eee;
	border:1px dashed #999;
	margin: 15px;
	font-size:small;
	text-indent: 0;
}

.column
{
  margin: 1em 0 1em 0;
}

.column h3
{
  padding: 0;
  margin: 0;
}

.column-title
{
  background: #f5f5f5;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;    
  display: inline;
}

.column-content 
{
  margin: 1em 0 1em 0;
  clear: both;
}


.fortune
{
  background-color:#eee;
  border:1px dashed #999;
  margin: 15px;
/*  font-size:small;
*/  text-indent: 0;
}

.fortune-sign
{
  float: right;
}


/*
Local Variables:
compile-command: "(cd ~/WWW; upload sitestyle.css)"
End:
*/
