body {
	margin: 0;
	padding: 0;	
	font: 0.85em/1.5 Verdana, Trebuchet, Lucida, Arial, sans-serif;
	color: #333;
	background: #FFF url(/assets/img/bg.jpg) fixed center;
	}

	/*  Set up general page elements 	*/ 

p {
	margin:0 0 1em 0;
	padding:0;
	text-indent: 2em;
	}
#main>p {text-indent:2em; margin:0;}
#main>p+p {text-indent:2em; margin-top: 1ex;}

img {
	display: block;
	border: 0;
	align: center;
	}

a:link {
	font-weight : bold; 
	text-decoration : none;
	background: transparent; 
	}

a:visited {
	font-weight : bold; 
	text-decoration : none;
	color: #696969;
	background: transparent; 
	}

a:hover {
	font-weight : bold; 
	text-decoration : underline;
	color: #000;
	background: transparent; 
	}

a:active {
	font-weight : bold; 
	text-decoration : none;
	color: #95a580;
	background: transparent;  
	}

	/*   Gather ye headlines.  */

/*
h1, h2, h3, h4, h5, h6	{
	font-weight: normal;
	font-family: Verdana, Lucida, Helvetica, sans-serif;
	}
*/

h2	{
	font-size: 24px;
	margin-top: 25px;
	margin-bottom: 0;
	letter-spacing: 1px;
	}

h3	{
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 0; 
    }

h4	{
	font-size: 13px;
	margin: 5px 0;
	padding: 0;
	letter-spacing: 1px;
	}

	/*  Establish general layout parameters */

#bread {
	color: #000;
	padding: 3px;
	font-weight: bold;
	margin-bottom: 25px;
}

#logo {
	float: left;	
	text-align: left;
	}

#mtime {
	float: right;
	text-align: right;
	}

#sidebar {
	float: right;
	margin: 60px 10px 10px 10px;
	padding: 10px;
	text-align: left;
	background-color: #eee;
	border: 1px dashed #999;	
	width: 162px;	/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 120px;
	}

body>#sidebar {width: 120px;}	/* Again, "be nice to Opera". */
	/*  Create buttons 	*/ 
	
	/*  Text treatments for primary content zone 	*/ 

#main {
	margin: 10px 80px 10px 20px;
	padding: 10px 80px 10px 20px;
	}

#main li {
	text-align: left;     
	margin-bottom: 0.5em;        
    }

#main h1 {
	font-size: x-large;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	}
	
#main h3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(136, 136, 136);
    margin-top: 10px;
    margin-right-value: 0pt;
    margin-bottom: 5px;
    margin-left-value: 0pt;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    padding-top: 0pt;
    padding-right-value: 0pt;
    padding-bottom: 0pt;
    padding-left-value: 0pt;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    font-size: 1.25em;
    line-height: 1;
    }
#main dt	{
  font-weight: bold;
}

#main dd	{
	margin-bottom: 0.5em;
	}

#main dd, dt {
	text-align: left;          
    }

p+h3	{
	margin-top: 20px;
	}
	
#main code	{
	font: 12px "Andale Mono", monaco, courier, "Courier New", monospace;
	border-bottom: 1px dotted #999;
	}

#main pre, #main #box	{
	border: #777777 1px solid;
	padding: 0.5em;
    	margin: 0 1em 0 2em;
    	white-space: pre;
    	background-color: #fffafa;
    	color: black;
    	font: 12px/16px "Andale Mono", monaco, courier, "Courier New", monospace;
	}
	 
#item, #add	{
	border: #777777 1px solid;
	padding: 1em;
    	margin: 1em;
    	white-space: pre;
    	background-color: #fffafa;
    	color: black;
    	font: 12px/16px "Andale Mono", monaco, courier, "Courier New", monospace;
	}
	/*  Lay out footer 	*/ 

#footer	{
	margin: 25px 0 50px 0;
	text-align: center;
	}
#footer img {
	display: inline;
	}
	
.right {
	text-align: right;
	}
	
.center {
	text-align: center;
	}
	
.left {
	text-align: left;
	}
